@model Alpenstern_BackEnd_Neu.Models.MitarbeiterAnlegenVM
@{
    ViewBag.Title = "MitarbeiterAnlegen";
}

<h2>MitarbeiterAnlegen</h2>

@using (Html.BeginForm())
{
    <p>Vorname
        @Html.EditorFor(e => e.Vorname)
    </p>

    <p>Nachname
        @Html.EditorFor(e => e.Nachname)
    </p>

    <p>Passwort
        @Html.EditorFor(e => e.Passwort)
    </p>

    <input type="submit" value="Mitarbeiter anlegen" />
}
