@{
    ViewBag.Title = "Index";
}


<div>
    <div class="container" id="padding">
        <div class="row text-center ankunftrahmen ankunft-overview">
            <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-left" id="prev"></span></div>
            <div class="col-xs-8" id="date"></div>
            <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right" id="next"></span></div>
        </div>
    </div>
    <div class="container" id="padding">
        <div class="row text-center ankunftrahmen ankunft-overview">
            <span>Ankunft</span>
        </div>    
    </div>
    <div class="container">
        <div class="row text-center ankunft-overview">    
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-o ankunftrahmen-r ankunftrahmen-u">Nachname</div>
            <div class="col-xs-2 ankunftrahmen-o ankunftrahmen-u ankunftrahmen-r">Vorname</div>
            <div class="col-xs-3 ankunftrahmen-o ankunftrahmen-u">Geb.Datum</div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-o ankunftrahmen-r ankunftrahmen-u">e-Mail</div>
            <div class="col-xs-2 ankunftrahmen-o ankunftrahmen-r ankunftrahmen-u">ZimmerNummer</div>
        </div>
        <div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input1" type="date"/></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">1</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">2</div>
        </div>
        <div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">3</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">4</div>
        </div>
        <div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">5</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">6</div>
        </div>
        <div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">7</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">8</div>
        </div>
        <div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">9</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">10</div>
        </div>
        <div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">11</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">12</div>
        </div>
        <div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">13</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">14</div>
        </div>
        <div class="row text-center" id="ankunft-view">
            <div class="col-xs-2 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">Mustermann</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">Max</div>
            <div class="col-xs-3 ankunftrahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 ankunftrahmen-l ankunftrahmen-u ankunftrahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 ankunftrahmen-u ankunftrahmen-r">15</div>
        </div>
    </div>
</div>




<script src="~/Scripts/JavaScript.js"></script>




