
@{
    ViewBag.Title = "Index";
}


@Html.Partial("~/Views/Home/_zfind.cshtml")


<div class="container">
    <form>
        <h2>Speisen</h2>
        <div class="row">
            <div class="col-lg-2">
                <label class="checkbox-inline">
                    <input type="checkbox" value="" />Frühstück
                </label>
            </div>
            <div class="col-lg-3">
                <label class="checkbox-inline">
                    <input type="checkbox" value="" />Zellertaler Spezialitäten
                </label>
            </div>
            <div class="col-lg-2">
                <label class="checkbox-inline">
                    <input type="checkbox" value="" />Galadinner
                </label>
            </div>
            <div class="col-lg-2">
                <label class="checkbox-inline">
                    <input type="checkbox" value="" />Vitalmenü
                </label>
            </div>
            <div class="col-lg-2">
                <label class="checkbox-inline">
                    <input type="checkbox" value="" />Degustationsmenü
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <label class="checkbox-inline">
                    <input type="checkbox" value="" />Themenabende
                </label>
            </div>
            <div class="col-lg-3">
                <label class="checkbox-inline">
                    <input type="checkbox" value="" />5-Gänge Gourmetmenü
                </label>
            </div>
            <div class="col-lg-2">
                <label class="checkbox-inline">
                    <input type="checkbox" value="" />Vorspeise
                </label>
            </div>
            <div class="col-lg-2">
                <label class="checkbox-inline">
                    <input type="checkbox" value="" />Salat & Dessertbufet
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2">
                <a href="#
                   "class="btn btn-info" role="button">senden</a>
                @*<button type="submit" class="btn-sm">Submit</button>*@
            </div>
        </div>
    </form>

    </div>






