
@{
    ViewBag.Title = "Index";

}

<h2>Menues erstellen:</h2>
<div class="form-group">
    <label for="menuenummer">Menue Nummer:</label>
    <div><input type="text" class="form-control" id="menuenummer" disabled /></div>
</div>


<form action="~/Menues/Edit">
    <div class="container">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">Menue Name</div>
                <div class="col-sm-6">Beschreibung</div>
                <div class="col-sm-4">Preis in &euro;</div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="Eingabe" />
                </div>
                <div class="col-sm-6">
                    <textarea class="form-control" rows="15" cols="500" id="menuebeschreibung" placeholder="Hier das Menue eingeben..." style="max-width:100%;"></textarea>
                </div>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="*** &euro;" style="width:80px;" />
                </div>
            </div>
            <div class="container" style="padding-top:5px;">
                <div class="row">
                    <div class="col-sm-6" id="menuefertigbutton">
                        <button type="submit">Fertig!</button>
                        @*<a href="~/Menues/Edit" class="btn btn-info" role="button">Fertig</a>*@
                    </div>
                    <div class="col-sm-6" id="menueresetgbutton">
                        <button type="submit">Reset</button>
                    @*<button class="btn-sm">Reset</button>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
