body {
    padding-top: 0px;
    padding-bottom: 20px;
    background: url('Îmages/Hinterberger_Stausee.jpg') no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
button{
    border-radius:5px;
    background-color:green;
    border:solid 1px #000000;
}




/*#region Ankunft */

.glyphicon-chevron-left, .glyphicon-chevron-right {
    font-size: 25px;
}

#date {
    font-size: 25px;
    max-width: 100%;
}

.ankunft-overview {
    font-weight: bold;
    font-size: large;
    background-color: #f2ebde;
}

.ankunft-checkIn {
    font-weight: bold;
    font-size: xx-large;
    background-color: #f2ebde;
}

#ankunft-view {
    background-color: #f2ebde;
}

.ankunftrahmen {
    border: 1px solid black;
}

.ankunftrahmen-o {
    border-top: 1px solid black;
}

.ankunftrahmen-r {
    border-right: 1px solid black;
}

.ankunftrahmen-u {
    border-bottom: 1px solid black;
}

.ankunftrahmen-l {
    border-left: 1px solid black;
}

#padding {
    padding-bottom: 20px;
}


.input1 {
    display: block !important;
    border: 0 !important;
    width: 85% !important;
    text-align: end;
    line-height: 1 !important;
    background-color: #f2ebde;
    height: 20px;
}

.input2 {
    display: block !important;
    border: 0 !important;
    width: 85% !important;
    text-align: end;
    line-height: 1 !important;
    height: 20px;
}

/*#endregion */

.container{
    background-color:lightgray;
    
}
/*#region Buchen */
/*#region Index */
.abstand {
    margin-top: 10px;
}



/*#endregion */
/*#region Persoenlichdaten */



/*#endregion */

/*#endregion */



/*#region Abreise */

.glyphicon-chevron-left, .glyphicon-chevron-right {
    font-size: 25px;
}

#date {
    font-size: 25px;
    max-width: 100%;
}

.abreise-overview {
    font-weight: bold;
    font-size:large;
    background-color: #f2ebde;
}

#abreise-view {
    background-color: #f2ebde;
    
}
.abreise-checkOut{
    font-weight: bold;
    font-size:xx-large;
    background-color: #f2ebde;
}
.abreiserahmen {
   border: 1px solid black;
}

.abreiserahmen-o {
    border-top: 1px solid black;
}

.abreiserahmen-r {
    border-right: 1px solid black;
}

.abreiserahmen-u {
    border-bottom: 1px solid black;
}

.abreiserahmen-l {
   border-left: 1px solid black;
}

#padding {
    padding-bottom: 20px;
}


.input1 {display: block !important;  border: 0 !important; width: 85% !important;  text-align: end; line-height: 1 !important; background-color: #f2ebde; height: 20px;}
.input2 {display: block !important;  border: 0 !important; width: 85% !important;  text-align: end; line-height: 1 !important; height: 20px;}


/*#endregion */
