<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <form>
                <input type="date">
            </form>
        </div>
    </body>
</html>
