<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/Site.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <form>
                <div class="form-group">
                    <label for="znr">Zimmernr.:</label>
                    <input type="number" class="form-control" id="znr">
                
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name">
               
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </body>
</html>
