@model Alpenstern_BackEnd_Neu.Models.LoginVM

@{
    ViewBag.Title = "Home Page";
}




@if(Context.User.Identity.IsAuthenticated)
{
    <h1>Eingelogt ist: @Context.User.Identity.Name</h1>
}

@if (!Context.User.Identity.IsAuthenticated)
{
    using (Html.BeginForm())
    {
        <h1>Login</h1>
        <div>
            @Html.EditorFor(e => e.Login)
            <label for="Login">Login</label>
        </div>

        <div>
            @Html.PasswordFor(e => e.Passwort)
            <label for="passwort">Passwort</label>
        </div>

        <br />
        <input type="submit" value="Login" />
    }
}

