@model Alpenstern_BackEnd_Neu.Models.LoginVM

@{
    ViewBag.Title = "Home Page";
}

<h1>Dashboard</h1>


@*@Model.Nachname

    @Model.Vorname*@

@*@Model.geburtsdatum*@


@using (Html.BeginForm())
{

    @Html.EditorFor(e => e.Login)

    @Html.PasswordFor(e => e.Passwort)
    
    <input type="submit" value="Login" />
}