@model Alpenstern_BackEnd_Neu.Models.LoginVM

@{
    ViewBag.Title = "Home Page";
}

<h1>Login</h1>


@*@Model.Nachname

    @Model.Vorname*@

@*@Model.geburtsdatum*@


@if(Context.User.Identity.IsAuthenticated)
{
    <h1>Name: @Context.User.Identity.Name</h1>
}

@using (Html.BeginForm())
{
    <div>        
        @Html.EditorFor(e => e.Login)
        <label for="Login">Login</label>
    </div>

    <div>
        @Html.PasswordFor(e => e.Passwort)
        <label for="passwort">Passwort</label>
    </div>
                              
    <br />
    <input type="submit" value="Login" />
}