
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>Druckansicht</h2>
    <header>
        <div class="row">
            <div class="col-lg-8">
                <img src="~/Content/Images/logo_alpenStern.png" />
            </div>
            <div class="col-lg-4">
                   
                        <h4 class="schriftfett" >Hotel Alpenstern</h4><br />Musterstrasse 4<br />2580 Musterstadt<br /><br />
                        Ihre Ansprechperson<br />Frau Muster<br />Telefon<br />Telefon: 000/000000<br />Telefax: 000/0000<br /><br />
                        Email:<br />
                        testadresse@alpenstern.at
                    
               
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-lg-8">
            <span>Vorname Nachname<br />Musterstrasse 4<br />2580 Musterstadt<br /><br /></span>
        </div>
        <div class="col-lg-8">
            <h4 class="schriftfett">Rechnug</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8"></div>
        <div class="col-lg-4"><span>KundenNr: 7</span></div>
    </div>
    <div class="row">
        <div class="col-lg-8"><span>Vielen Dank für Ihren Aufenthalt bla bla bls</span><br /><br /></div>
        <div class="col-lg-4"><span>Datum: tt/mm/jjjj</span></div>
    </div>
    <div class="row">
        <div class="col-lg-8"><sapn>Leistungen erbracht tt/mm/jjjj</sapn></div>
        <div class="col-lg-4"><span class="schriftfett">Rechnungs-Nr. 2457567486</span></div>
    </div>
    <div class="row schriftfett">
        <hr />
        <div class="col-lg-1"><span>POS</span></div>
        <div class="col-lg-1"><span>Zimmer</span></div>
        <div class="col-lg-2">Logis</div>
        <div class="col-lg-2">Anreise</div>
        <div class="col-lg-2">Abreise</div>
        <div class="col-lg-1">Anzahl</div>
        <div class="col-lg-1">Einzelpreis</div>
        <div class="col-lg-2">Gesamtpreis</div>
        <hr />
    </div>
    <div class="row">
        <div class="col-lg-1">1</div>
        <div class="col-lg-1">1</div>
        <div class="col-lg-2">Doppelzimmer</div>
        <div class="col-lg-2">18.10.2017</div>
        <div class="col-lg-2">25.10.2017</div>
        <div class="col-lg-1">2 Nächte</div>
        <div class="col-lg-1">000,00</div>
        <div class="col-lg-2">000,0</div>
    </div>
    <div class="row">
        <div class="col-lg-1">2</div>
        <div class="col-lg-1">1</div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-2"></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-1"></div>
        <div class="col-lg-2"></div>
    </div>
</div>
<footer></footer>
