
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <form method="post" action="/Druckansicht/Index">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5"><h2>Extra Wünsche</h2></div>
                        <div class="col-lg-1"></div>
                        <div class="col-lg-5"><h2>Spa</h2></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Tee</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Saft</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Bergquellwasser</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Obst</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Babybett</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Kinderstuhl</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Babyphone</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Kinderbetreuung</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Kinder Unterhaltungsprogramm</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Kinderspielzimmer inkl. Spiel,-Mal,-Bastelsachen</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Teen-Lounge 40m² inkl. Billard, Tischfußball, PlayStaion, TV, Chill Out Lounge, u.v.m</label>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Alpiner Bergtraum</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Ganzkörpermassage</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Entspannter Rücken</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" />Gesichtsbehandlung</label>
                    </div>
                    <div style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif" ;>
                        Beachten Sie unseren Genießer-Bonus. Ab € 150,00 erhalten Sie einen Rabatt in der Höhe von 10% auf Ihr Wohlfühlprogramm.
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8"><h2>Speisen Wünsche</h2></div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" />Frühstück
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" />Zellertaler Spezialitäten
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" />Galadinner
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" />Vitalmenü
                                    </label>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" />Themenabende
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" />5-Gänge Gourmetmenü
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" />Vorspeise
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="" />Salat & Dessertbufet
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>                                        
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-9"><h2>Saison Backages Buchen</h2></div>
                        <div class="col-lg-2"></div>
                    </div>
                </div>
                <div class="col-lg-6">                  
                    <div class="checkbox">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="checkWinter" /><strong>Verwöhnleistungen PLUS Winter</strong>
                        </label>
                    </div>
                    
                    <input type="button" name="infoWinterPlus" value="Info Winter PLUS" data-toggle="collapse" data-target=".winter" />
                    <br />
                    <br />
                    <div class="form-group collapse winter">
                        <label for="buchen">Buchen am</label>
                        <input type="date" class="form-control winter">
                    </div>
                    <div class="form-group collapse winter">
                        <label for="personen">Personen</label>
                        <input type="number" class="form-control winter" placeholder="1">
                    </div>
                    <div class="form-group collapse winter">
                        <label for="preis">Preis</label>
                        <input type="text" class="form-control winter" placeholder="255,50€">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="collapse winter">
                        <div class="row">
                            <ul style="margin:20px;">
                                <li>Skipassservice - wir stellen ihren Wunschskipassan der Rezeption aus</li>
                                <li>5x wöchentlich Skiguiding von montag bis Freitag ( ab Dezember )</li>
                                <li>1x wöchentlich gemütlicher Rodelabend, Racletteabend</li>
                                <li>Topmoderner Skikeller-jedes Zimmer hat seinen verschließbaren und beheizten Ski- und Schuhschrank</li>
                                <li>Grats Shuttlebus zur Gletscherbahn ( ab Oktober bis Mai im 5-Minuten Takt; Haltestelle 50 m vom hotel entfernt)</li>
                                <li>Zellertaler Sportbus durch das Zellertal im 15-Minuten Takt</li>
                                <li>Zellertaler Nachtbus für Nachtschwärmer zwischen Dezember und April</li>
                                <li>Skiservice der Firma "Sport Forster" über Nacht gegen Aufpreis</li>
                                <li>Spezielle Ermässigungen für Gäste des Alpensterns auf den Skiverleih bei "Sport Nenner" und auf den Unterricht in der Skischule Zellertal</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6">
                    <div class="checkbox">
                        <label class="checkbox-inline">
                            <input type="checkbox" value="checkSommer" /><strong>Verwöhnleistungen PLUS Sommer</strong>
                        </label>
                    </div>                  
                    <input type="button" name="infoSommerPlus" value="Info Sommer PLUS" data-toggle="collapse" data-target=".sommer" />
                    <br />
                    <br />
                    <div class="form-group collapse sommer">
                        <label for="buchen">Buchen am</label>
                        <input type="date" class="form-control sommer">
                    </div>
                    <div class="form-group collapse sommer">
                        <label for="personen">Personen</label>
                        <input type="number" class="form-control sommer" placeholder="1">
                    </div>
                    <div class="form-group collapse sommer">
                        <label for="preis">Preis</label>
                        <input type="text" class="form-control sommer" placeholder="255,50€">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="collapse sommer">
                        <div class="row">
                            <ul style="margin:20px;">
                                <li>5-10 geführte Wanderungen pro Woche mit unseren Wanderführern; unterschiedliche Schwierigkeitsstufen</li>
                                <li>1x wöchentlich Wanderungen auf die hauseigene Alm mit anschließender Bergjause</li>
                                <li>kostenloser Mountenbike- & E-Bike-Verleih (nach Verfügbarkeit)</li>
                                <li>Aktivprogramm mit Nordic Walking, Wassergymnastik und vielem mehr</li>
                                <li>Wanderrucksack im Zimmer, auch für unsere kleinen Gäste</li>
                                <li>Nordic Walking-Stöcke und Wanderstöcke an der Reception erhältlich</li>
                                <li>1.200m² Alpengarten zum Faulenzen, Relaxen und Planschen</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:50px;">
            <div class="col-lg-2 col-md-2">
            </div>
            <div class="col-lg-10 col-md-10">
                <button type="button" onclick="goBack('/Buchung/Persoenlichdaten')">Zurück</button>
                <button type="submit" value="weiter" /> Weiter
            </div>
        </div>
    </form>
</div>

<script src="~/Scripts/02_BuchenJava.js"></script>








