
@{
    ViewBag.Title = "Einstellungen";
}
<h1>Galerie Verwaltung</h1>
<div class="container">
    <div class="row">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Bilder Hochladen
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="container">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>Bilder Hochladen</h4>
                                </div>
                                <div class="panel-body">
                                    <!-- Standar Form -->
                                    <h4>Wählen Sie eine Datei auf Ihren Computer aus</h4>
                                    <form action="" method="post" id="js-upload-form">
                                        <div class="form-inline">
                                            <div class="form-group">
                                                <input type="file" name="files">
                                            </div>
                                            <button type="button">Upload files</button>
                                        </div>
                                    </form>
                                    <!-- Drop Zone -->
                                    <h4>Oder ziehen Sie die Datei in das Feld hinein</h4>
                                    <div class="upload-drop-zone">
                                        Hier hineinziehen
                                    </div>
                                    <!-- Upload Finished -->
                                    <div class="js-upload-finished">
                                        <h3>Hochgeladene Bilder</h3>
                                        <div class="list-group">
                                            <a href="#" class="list-group-item list-group-item-success">
                                                <span class="badge alert-success pull-right">Success</span>image-01.jpg
                                            </a>
                                        </div>
                                        <h4>Wohin soll das Bild geladen werden</h4>
                                        <form action="" method="post" id="js-upload-form">
                                            <div class="form-inline">
                                                <div class="form-group">
                                                    <select name="Galeries">
                                                        <option value="zimmer">Zimmer</option>
                                                        <option value="spa">Spa</option>
                                                        <option value="hotel">Hotel</option>
                                                    </select>
                                                </div>
                                                <button type="button">Hochladen</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- /container -->
                    </div>
                </div>
            </div>            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            Bilder/Galerie Löschen
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div>
                            <div class="container">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Galerie Zimmer</th>
                                            <th></th>
                                            <th>Galerie Spa</th>
                                            <th></th>
                                            <th>Galerie Hotel</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><a href="~/Content/Images/Zimmer/Einzelzimmer.jpg" target="_blank">Einzelzimmer</a></td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td><a href="~/Content/Images/Spa/">Alpenspa Außen</a></td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenstern Fitness Eingang</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                        </tr>
                                        <tr>
                                            <td><a href="~/Content/Images/Zimmer/Komforteinzelzimmer.jpg" target="_blank">Komfort Einzelzimmer</a></td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenspa Caesarium</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenstern Frühstück</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                        </tr>
                                        <tr>
                                            <td><a href="~/Content/Images/Zimmer/Alpensternsuite_Wohnraum.jpg" target="_blank">Alpenstern Suit</a></td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenspa Dampfbad</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenstern Hallenbad</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                        </tr>
                                        <tr>
                                            <td><a href="~/Content/Images/Zimmer/Gletschersuite_Wohnraum.jpg" target="_blank">Gletscher Suit</a></td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenspa Eingang</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenstern Kulinarik</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                        </tr>
                                        <tr> 
                                            <td><a href="~/Content/Images/Zimmer/Juniorsuite_2000x750.jpg" target="_blank">Junior Suit</a></td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenspa Emotionarium</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenstern Gletscher</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                        </tr>
                                        <tr>
                                            <td><a href="~/Content/Images/Zimmer/Zirbensuite_Wohnbereich.jpg" target="_blank">Zirben Suit</a></td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenspa Innen</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenstern Stausee</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                        </tr>
                                        <tr>
                                            <td><a href="~/Content/Images/Zimmer/Suite Tirol_Wohnraum.jpg" target="_blank">Tirol Suit</a></td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenspa Relaxarium</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td>Alpenstern Gourmet</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Alpenspa Ruheraum</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td></td>
                                            <td>Alpenspa Wuidera Sauna</td>
                                            <td><input type="button" name="edit" value="edit" /></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




