
@{
    ViewBag.Title = "Einstellungen";
}
<h1>Bilder Einstellungen</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-4 text-center">
            <a href="~/Images/Galerien">Galerien verwalten</a>
        </div>
        <div class="col-lg-4 text-center">
            <a href="~/Images/Upload">Bilder Upload</a>
        </div>
        <div class="col-lg-4 text-center">
            <a href="~/Images/Einstellungen">Bilder Löschen</a>
        </div>
    </div>
</div>

<h2>Einstellungen</h2>

<p>Hier können Einstellungen zu einzelnen Sachen erstellt werden.</p>

<table>
    <tr>
        <td>Größe:</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>Breite:</td>
        <td><input type="text" /></td>
    </tr>
    <tr>
        <td>Endungen:</td>
        <td><input type="text" /></td>
    </tr>
</table>