
@{
    ViewBag.Title = "Galerien";
}
<h1>Bilder Galerien Verwalten</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-4 text-center">
            <a href="~/Views/Images/Galerien">Galerien verwalten</a>
        </div>
        <div class="col-lg-4 text-center">
            <a href="~/Views/Images/Upload">Bilder Upload</a>
        </div>
        <div class="col-lg-4 text-center">
            <a href="~/Views/Images/Einstellungen">Bilder Löschen</a>
        </div>
    </div>
</div>
<h2>Galerien</h2>

<p>Galerie 1</p>
<p>Galerie 2</p>
<p>Galerie 3</p>
<p>Galerie 4</p>
<p>Galerie 5</p>
<p>Galerie 6</p>
<p>Galerie 7</p>
<p>Galerie 8</p>
<p>Galerie 9</p>
<p>Galerie 10</p>