
@{
    ViewBag.Title = "Index";
}
<style>
    img {
        max-height:250px;
        max-width:250px;
    }
</style>
<h2 class="text-center">Bilder Verwaltung und Übersicht</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-4 text-center">
            <a href="~/Views/Images/Galerien.cshtml">Galerien verwalten</a>
        </div>
        <div class="col-lg-4 text-center">
            <a href="~/Views/Images/Galerien.cshtml">Bilder Upload</a>
        </div>
        <div class="col-lg-4 text-center">
            <a href="~/Views/Images/Galerien.cshtml">Bilder Löschen</a>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br />
<table class="text-center">
    <tr>
        <td>
            <img src="~/Content/Images/Bilder_Set_1/AlpenSpa_außen_1.jpg" /></td>
        <td>
            <img src="~/Content/Images/Bilder_Set_1/AlpenSpa_außen_2.jpg" /></td>
        <td>
<img src="~/Content/Images/Bilder_Set_1/AlpenSpa_Caesarium.jpg" /></td>
    </tr>
    <tr>
        <td>
            <img src="~/Content/Images/Bilder_Set_1/AlpenSpa_Eingang_unten.jpg" /></td>
        <td>
            <img src="~/Content/Images/Bilder_Set_1/AlpenSpa_Emotionarium_2000x750.jpg" /></td>
        <td>
            <img src="~/Content/Images/Bilder_Set_1/AlpenSpa_Emotionarium_900x60.jpg" /></td>
    </tr>
</table>
