@model Alpenstern_BackEnd_Neu.Models.Bilder
@{
    ViewBag.Title = "Index";
}
<style>
    img {
        max-height:250px;
        max-width:250px;
    }
</style>
<h2 class="text-center">Bilder Verwaltung und Übersicht</h2>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Galerie Zimmer</th>
                <th>Galerie Spa</th>
                <th>Galerie Hotel</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Einzelzimmer</td>
                <td>Alpenspa Außen</td>
                <td>Alpenstern Fitness Eingang</td>
            </tr>
            <tr>
                <td>Komfort Einzelzimmer</td>
                <td>Alpenspa Caesarium</td>
                <td>Alpenstern Frühstück</td>
            </tr>
            <tr>
                <td>Alpenstern Suit</td>
                <td>Alpenspa Dampfbad</td>
                <td>Alpenstern Hallenbad</td>
            </tr>
            <tr>
                <td>Gletscher Suit</td>
                <td>Alpenspa Eingang</td>
                <td>Alpenstern Kulinarik</td>
            </tr>
            <tr>
                <td>Junior Suit</td>
                <td>Alpenspa Emotionarium</td>
                <td>Alpenstern Gletscher</td>
            </tr>
            <tr>
                <td>Zirben Suit</td>
                <td>Alpenspa Innen</td>
                <td>Alpenstern Stausee</td>
            </tr>
            <tr>
                <td>Tirol Suit</td>
                <td>Alpenspa Relaxarium</td>
                <td>Alpenstern Gourmet</td>
            </tr>
            <tr>
                <td></td>
                <td>Alpenspa Ruheraum</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td>Alpenspa Wuidera Sauna</td>
                <td></td>
            </tr>
        </tbody>
        </table>

</div>


       
@using (Html.BeginForm("Create", "Images", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Bild Upload</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.bilderart, htmlAttributes: new { @class = "control-label col-md-2" })
        </div>
        

        <div class="form-group">
            <div class="col-md-2">
                Bilddatei
            </div>
            <div class="col-md-10">
                <input type="file" id="upload" name="upload" />
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Erstellen" class="btn btn-default" />
            </div>
        </div>
    </div>
}
