
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Zimmer erstellen</h2>

<form action="/Zimmer/zimmerListe" method="post">
    <div class="container" style="border-bottom:2px solid black">
        <div class="row">
            <div class="col-sm-2">                
                <div class="dropdown">
                    <label for="zimmerdropdown">Kategorie:</label>
                    <select style="text-align:center;">
                        <option>Einzelzimmer</option>
                        <option>Komfort Einzelzimmer</option>
                        <option>Juniorsuite</option>
                        <option>Suite Tirol</option>
                        <option>Zirbensuite</option>
                        <option>Gletschersuite</option>
                        <option>Suite Alpenstern</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-2">
                <label for="bildbeschreibung">Image:</label>
                <img src="~/Content/Îmages/Hinterberger_Stausee.jpg" class="img-responsive" id="bildbeschreibung" />
                <input type="file" style="padding:5px 0 5px 0;"/>
            </div>
            <div class="col-sm-4">
                <label for="zbeschreibung">Beschreibung</label>
                <textarea class="form-control" id="zbeschreibung" placeholder="Hier eingeben..." rows="5" cols="500" style="max-width:100%;"></textarea>
            </div>
            <div class="col-sm-2">
                <label for="zimmerpreis">Preis:</label>
                <input type="text" class="form-control" placeholder="*** &euro;" id="zimmerpreis" style="width:80px;" />
            </div>
            <div class="col-sm-2" style="padding-top:50px;">
                <div class="btn-group-vertical " align="center">
                    <button type="submit">Fertig!</button>
                </div>
            </div>
        </div>
    </div>   
</form>

