
@{
    ViewBag.Title = "Index";
}

<form action="/Rueckruf/RueckrufNeu" method="post">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Rückruf Funktion</h2>
                <div class="col-lg-1"><h4>ID</h4></div>
                <div class="col-lg-3"><h4>Person</h4></div>
                <div class="col-lg-2"><h4>Zimmer</h4></div>
                <div class="col-lg-2"><h4>Datum</h4></div>
                <div class="col-lg-3"><h4>Uhrzeit</h4></div>
                <div class="col-lg-1"><h4>Check</h4></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-1">
                    <input type="number" class="form-control" placeholder="1" />
                </div>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="Franzi Huber" />
                </div>
                <div class="col-lg-2">
                    <input type="number" class="form-control" placeholder="223" />
                </div>
                <div class="col-lg-2">
                    <input type="date" class="form-control" />
                </div>
                <div class="col-lg-3">
                    <input type="time" class="form-control" />
                </div>
                <div class="col-lg-1">
                    <input type="checkbox" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-1">
                    <input type="number" class="form-control" placeholder="2" />
                </div>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="Peppi Buber" />
                </div>
                <div class="col-lg-2">
                    <input type="number" class="form-control" placeholder="136" />
                </div>
                <div class="col-lg-2">
                    <input type="date" class="form-control" />
                </div>
                <div class="col-lg-3">
                    <input type="time" class="form-control" />
                </div>
                <div class="col-lg-1">
                    <input type="checkbox" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-1">
                    <input type="number" class="form-control" placeholder="3" />
                </div>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="Seppi Luber" />
                </div>
                <div class="col-lg-2">
                    <input type="number" class="form-control" placeholder="66" />
                </div>
                <div class="col-lg-2">
                    <input type="date" class="form-control" />
                </div>
                <div class="col-lg-3">
                    <input type="time" class="form-control" />
                </div>
                <div class="col-lg-1">
                    <input type="checkbox" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-1">
                    <input type="number" class="form-control" placeholder="4" />
                </div>
                <div class="col-lg-3">
                    <input type="text" class="form-control" placeholder="Hubi Bubi" />
                </div>
                <div class="col-lg-2">
                    <input type="number" class="form-control" placeholder="117" />
                </div>
                <div class="col-lg-2">
                    <input type="date" class="form-control" />
                </div>
                <div class="col-lg-3">
                    <input type="time" class="form-control" />
                </div>
                <div class="col-lg-1">
                    <input type="checkbox" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2" style="padding:10px 0px 0px 10px;">
                <button type="submit">Neu</button>
            </div>
            <div class="col-lg-8"></div>
            <div class="col-lg-2" style="padding:10px 0px 0px 80px;">
                <button type="button">Erledigt</button>
            </div>
        </div>
    </div>
</form>
