@{
    ViewBag.Title = "Index";
}


<div>
    <div class="container padding-top">
        <div class="row text-center abreiserahmen abreise-checkOut">
            <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-left" id="prev2"></span></div>
            <div class="col-xs-8" id="date"></div>
            <div class="col-xs-2"><span class="glyphicon glyphicon-chevron-right" id="next2"></span></div>
        </div>
    </div>
    <div class="container padding-bottom padding-top">
        <div class="row text-center abreiserahmen abreise-checkOut">
            <span>Check-Out</span>
        </div>
    </div>
    <div class="container">
        <div class="row text-center abreise-overview">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-o abreiserahmen-r abreiserahmen-u">Nachname</div>
            <div class="col-xs-2 abreiserahmen-o abreiserahmen-u abreiserahmen-r">Vorname</div>
            <div class="col-xs-3 abreiserahmen-o abreiserahmen-u">Geb.Datum</div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-o abreiserahmen-r abreiserahmen-u">e-Mail</div>
            <div class="col-xs-2 abreiserahmen-o abreiserahmen-r abreiserahmen-u">ZimmerNummer</div>
        </div>
        <div class="row text-center" id="abreise-view">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">1</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">2</div>
        </div>
        <div class="row text-center" id="abreise-view">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">3</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">4</div>
        </div>
        <div class="row text-center" id="abreise-view">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">5</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">6</div>
        </div>
        <div class="row text-center" id="abreise-view">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">7</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">8</div>
        </div>
        <div class="row text-center" id="abreise-view">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">9</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">10</div>
        </div>
        <div class="row text-center" id="abreise-view">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">11</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">12</div>
        </div>
        <div class="row text-center" id="abreise-view">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">13</div>
        </div>
        <div class="row text-center">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input2" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">14</div>
        </div>
        <div class="row text-center" id="abreise-view">
            <div class="col-xs-2 abreiserahmen-l abreiserahmen-u abreiserahmen-r">Mustermann</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">Max</div>
            <div class="col-xs-3 abreiserahmen-u"><input class="input1" type="date" /></div>
            <div class="col-xs-3 abreiserahmen-l abreiserahmen-u abreiserahmen-r">max.mustermann@muster.at</div>
            <div class="col-xs-2 abreiserahmen-u abreiserahmen-r">15</div>
        </div>
    </div>
</div>



<script src="~/Scripts/JavaScript.js"></script>
