@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/02_BuchenJava.js"></script>
<form action="/Buchung/Persoenlichdaten" method="post">
    <h1 class="text-center"> Buchung Suchen</h1>

    <div class="container">
        <div class="row text-center">
            <div class="col-lg-3">
                <h4>Nachname</h4>
            </div>
            <div class="col-lg-3">
                <h4>Vorname</h4>

            </div>
            <div class="col-lg-3">
                <h4>Buchungsnummer</h4>
            </div>
            <div class="col-lg-3">
                <h4>Geburtsdatum</h4>
            </div>
        </div>
        <!--Input-->
        <div class="row text-center ">
            <div class="col-lg-3">
                <input type="text" name="nachname" class="form-control" onchange="ausgeben();" />
            </div>
            <div class="col-lg-3">
                <input type="text" name="vorname" class="form-control" onchange="ausgeben();" />
            </div>
            <div class="col-lg-3">
                <input type="text" name="buchungsnummer" class="form-control" onchange="ausgeben();" />
            </div>
            <div class="col-lg-3">
                <input type="date" name="geburtsdatum" class="form-control" />
            </div>
        </div>

        <div class="row">
            <!--Datum Von-BIS-->
            <div class="col-lg-3 abstand">
                <h4>VON</h4>
                <input id="date" type="date" value="2017-01-01" class="form-control">
            </div>
            <div class="col-lg-3 abstand">
                <h4>BIS</h4>
                <input id="date" type="date" value="2017-01-01" class="form-control">
            </div>
            <!--Personen-->
            <div class="col-lg-3 abstand">
                <h4>PERSONEN</h4>
                <input class="form-control" type="number" name="name" value="" />
            </div>
            <!--DropBox-->
            <div class="col-lg-3 abstand">
                <h4>Zimmer</h4>
                <select class="selectpicker form-control">
                    <group label="Zimmer">
                        <option>Einzelzimmer</option>
                        <option>Einzelzimmer Komfort</option>
                        <option>Juniorsuite</option>
                        <option>Suite Tirol</option>
                        <option>Zirbensuite</option>
                        <option>Gletschersuite</option>
                        <option>Suite Alpenstern</option>
                    </group>
                </select>
            </div>
        </div>

        <div class="row" >
            <div class="row table-bordered">
                <div class="col col-lg-4">
                    <h3>Nachname</h3>
                </div>
                <div class="col col-lg-4">
                    <h3>Vorname</h3>
                </div>
                <div class="col col-lg-4">
                    <h3>Buchungsnummer</h3>
                </div>
            </div>

            <div class="row table-bordered">
                <div class="col col-lg-4">
                    <p id="nachname0"></p>
                </div>
                <div class="col col-lg-4">
                    <p id="vorname0"></p>
                </div>
                
                <div class="col col-lg-4">
                    <p id="buchungsnummer0"></p>
                </div>
            </div>

            <div class="row table-bordered">
                <div class="col col-lg-4">
                    <p id="nachname1"></p>
                </div>
                <div class="col col-lg-4">
                    <p id="vorname1"></p>
                </div>

                <div class="col col-lg-4">
                    <p id="buchungsnummer1"></p>
                </div>
            </div>

            <div class="row table-bordered">
                <div class="col col-lg-4">
                    <p id="nachname2"></p>
                </div>
                <div class="col col-lg-4">
                    <p id="vorname2"></p>
                </div>

                <div class="col col-lg-4">
                    <p id="buchungsnummer2"></p>
                </div>
            </div>

            <div class="row table-bordered">
                <div class="col col-lg-4">
                    <p id="nachname3"></p>
                </div>
                <div class="col col-lg-4">
                    <p id="vorname3"></p>
                </div>

                <div class="col col-lg-4">
                    <p id="buchungsnummer3"></p>
                </div>
            </div>


        </div>




        <br />
        <br />
        <button type="submit">Weiter</button>

    </div>

</form>
