
@{
    ViewBag.Title = "Persoenlichdaten";
}

<h2>Persönliche Daten</h2>
<div class="container">
    <form action="/Sortiment/Index" method="post">

        <div class="row">

            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <label for="vorname">Vorname</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <label for="nachname">Nachname</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <label for="telefon">Telefon</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <label for="adresse">Adresse</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <label for="stiege">Stiege</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <label for="tuer">Tür</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <label for="land">Land</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <label for="ort">Ort</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <label for="plz">Plz</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <label for="pass">Pass.Nr.</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2">
                    <label for="gebdatum">Geb.Dat</label>
                </div>
                <div class="col-lg-10 col-md-10">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-md-2">
                </div>
                <div class="col-lg-10 col-md-10">
                    <button type="button" onclick="goBack('Index')">Zurück</button>
                    <button type="submit" value="weiter" /> Weiter
                </div>
            </div>
        </div>
    </form>
</div>





