
@{
    ViewBag.Title = "Persoenlichdaten";
}

<h2>Persönliche Daten</h2>
<div class="container">
    <form>

        <div class="row">

            <div class="col-lg-4 col-md-4">
                <label for="vorname">Vorname</label>
            </div>
            <div class="col-lg-8 col-md-8">
                <input type="text" class="form-control" />
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="nachname">Nachname</label>
            </div>
            <div class="col-lg-8 col-md-8">
                <input type="text" class="form-control" />
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="telefon">Telefon</label>
            </div>
            <div class="col-lg-8 col-md-8">
                <input type="text" class="form-control" />
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="adresse">Adresse</label>
            </div>
            <div class="col-lg-8 col-md-8">
                <input type="text" class="form-control" />
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="stiege">Stiege</label>
            </div>
            <div class="col-lg-8 col-md-8">
                <input type="text" class="form-control" />
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="tuer">Tür</label>
            </div>
            <div class="col-lg-8 col-md-8">
                <input type="text" class="form-control" />
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="land">Land</label>
            </div>
            <div class="col-lg-8 col-md-8">
                <input type="text" class="form-control" />
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="ort">Ort</label>
            </div>
            <div class="col-lg-8 col-md-8">
                <input type="text" class="form-control" />
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="plz">Plz</label>
            </div>
            <div class="col-lg-8 col-md-8">
                <input type="text" class="form-control" />
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="pass">Pass.Nr.</label>
            </div>
            <div class="col-lg-8 col-md-8">
                <input type="text" class="form-control" />
            </div>
            <div class="col-lg-4 col-md-4">
                <label for="gebdatum">Geb.Dat</label>
            </div>
            <div class="col-lg-8 col-md-8">
                <input type="text" class="form-control" />
            </div>
        </div>
    </form>
</div>


  


